.header {
  background-color: #393e70;
  color: white;
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.menu {
  > img {
    float: left;
  }
}
