<app-header></app-header>
<div class="description">
  <div class="item">
    <img src="assets/images/imagem.png" alt="logo" />
    <div class="info">
      <div class="name">Tô com Braide</div>
      <div class="sub">Eduardo Braide</div>
      <span>Ler manifesto</span>
    </div>
  </div>
  <div class="message">
    Mostre o seu apoio, ajude a espalhar nossas mensagens de esperança e
    otimismo entre seus amigos...
  </div>
  <div class="like">
    <div><img src="assets/images/like.png" alt="logo" /> 135 usaram</div>
    <div class="white">
      <img src="assets/images/shared-color.png" alt="logo" /> Compartilhar
    </div>
  </div>
</div>
<app-menu></app-menu>

<div class="container">
  <div class="bloco">
    <img src="assets/images/imagem.png" alt="logo" />
    <div class="name">Tô com Braide</div>
    <div class="sub">Eduardo Braide</div>
  </div>
  <div class="bloco">
    <img src="assets/images/imagem.png" alt="logo" />
    <div class="name">Tô com Braide</div>
    <div class="sub">Eduardo Braide</div>
  </div>
  <div class="bloco">
    <img src="assets/images/imagem.png" alt="logo" />
    <div class="name">Tô com Braide</div>
    <div class="sub">Eduardo Braide</div>
  </div>
  <div class="bloco">
    <img src="assets/images/imagem.png" alt="logo" />
    <div class="name">Tô com Braide</div>
    <div class="sub">Eduardo Braide</div>
  </div>
</div>

<app-footer></app-footer>
