<app-header-category></app-header-category>

<div class="title">por: Eduardo Braide</div>

<div class="box">
  <div class="description">
    <img src="assets/images/imagem.png" alt="image" />
    <div>
      <b> Tô com Braide 19 - Azul</b><br />
      <div class="toggle">
        Ativar
        <div class="cl-toggle-switch">
          <label class="cl-switch">
            <input type="checkbox" />
            <span></span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="like">
    <img src="assets/images/star.png" alt="image" />257 interações
  </div>
  <div class="edit">Editar</div>
</div>
