<div class="container" *ngIf="!sucess">
  <div class="arrow" (click)="home()">
    <img src="assets/images/arrow-left-color.png" alt="logo" />
  </div>
  <b> Envie pelo Whatsapp!</b><br />
  Clique em “baixar agora” para salvar no seu<br />
  aparelho ou envie pelo whatsapp.

  <div class="download">Baixar agora</div>

  <div class="img">
    <div class="send">
      Envie para o seu próprio número<br />
      em formato de imagem.
    </div>
    <div class="info">
      <img src="assets/images/imagem.png" alt="image" />
      <div class="description">
        <input placeholder="Seu nome" />
        <input placeholder="Seu Whatsapp" />
        <b (click)="send()">Enviar</b>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="sucess">
  <div class="arrow" (click)="home()">
    <img src="assets/images/arrow-left-color.png" alt="logo" />
  </div>
  <img src="assets/images/sucess.png" alt="logo" />
  <b class="green">Obrigado(a)! </b><br />
  Sua mensagem foi enviada com<br />
  sucesso.

  <div class="download">Escolher outra moldura</div>

  <div class="shared">
    <b>Convide mais amigos para apoiar:</b>
    <img src="assets/images/imagem.png" alt="logo" />
    <span><img src="assets/images/shared.png" alt="logo" /> Compartilhar</span>
  </div>
</div>
<app-footer></app-footer>
