<app-header></app-header>
<div class="container">
  <div class="title">Política de Privacidade</div>
  <img alt="image" src="assets/images/imagem.png" />

  <div class="description">
    Nós, da HEINEKEN, somos apaixonados por tudo o que fazemos.<br />

    Por qualidade nos produtos. Por sabor. Por reunir pessoas e celebrar a
    vida.<br /><br />

    Porque um mundo sem qualidade, sem sabor e sem celebração é um mundo mais ou
    menos.<br /><br />

    Na HEINEKEN, não queremos um mundo assim. Acreditamos num mundo mais com
    menos. Mais ação. Menos discurso.<br /><br />

    Mais proximidade. Menos intolerância. Um mundo mais com menos é um mundo
    melhor para todos. Não só para alguns.<br /><br />
    E, na HEINEKEN, ele começa na relação.
  </div>
</div>
<app-footer></app-footer>
