.container {
  width: 100%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  color: #393e70;
  background-color: #fafaff;
}

.title {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px;
}
.list-images {
  width: 100%;
  float: left;
  margin: 20px 0;
  display: flex;
}
img {
  width: 40px;
  float: left;
  margin: 0 10px 0 0;
  border-radius: 5px;
  height: 40px;
}

.sub {
  font-size: 12px;
  color: #989abe;
  width: 100%;
  float: left;
  text-align: center;
}

.like {
  float: left;
  margin-top: 10px;
  > img {
    width: 20px !important;
    height: auto !important;
  }
}

.send {
  float: right;
  background-color: #393e70;
  color: white;
  font-size: 14px;
  border-radius: 10px;
  font-weight: bold;
  padding: 14px 30px;
}

.card {
  background-color: white;
  width: 100%;
  margin: 20px 10px 0 0;
  padding: 20px;
  float: left;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #989abe;
  img {
    width: 80px;
    height: 80px;
  }
  > .title {
    font-weight: bold;
    float: left;
    width: 100%;
    text-align: left;
    margin: 0 0 17px 0;
  }
  span {
    text-decoration: underline;
    padding-top: 5px;
    width: 70%;
    float: left;
  }
}

.list-images {
  width: 100%;
  float: left;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #989abe;
  > img {
    width: 40px;
    height: 40px;
  }
}
