<app-header-category (click)="go()"></app-header-category>

<div class="container">
  <div class="title">por: Eduardo Braide</div>

  <div class="card">
    <div class="title">Tô com Braide</div>
    <div>
      <img src="assets/images/imagem.png" alt="logo" />
      <div>
        Mostre o seu apoio, ajude a espalhar nossas mensagens de esperança e
        otimismo entre seus amigos...<br />
        <span>Ler manifesto</span>
      </div>
    </div>
    <div class="list-images">
      <img src="assets/images/imagem.png" alt="logo" />
      <img src="assets/images/imagem.png" alt="logo" />
      <img src="assets/images/imagem.png" alt="logo" />
    </div>
    <div class="like">
      <img src="assets/images/like.png" alt="logo" /> 135 usaram
    </div>
    <div class="send" (click)="homeCollections()">Entrar</div>
  </div>
</div>
