<div class="list">
  <div class="title">Política <b>ver todos</b></div>
  <div class="item">
    <img src="assets/images/imagem.png" alt="logo" />
    <div class="name">Tô com Braide</div>
    <div class="sub">Eduardo Braide</div>
  </div>
  <div class="item">
    <img src="assets/images/imagem.png" alt="logo" />
    <div class="name">Tô com Braide</div>
    <div class="sub">Eduardo Braide</div>
  </div>
  <div class="item">
    <img src="assets/images/imagem.png" alt="logo" />
    <div class="name">Tô com Braide</div>
    <div class="sub">Eduardo Braide</div>
  </div>
</div>
