ul {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  float: left;
  background-color: #393e70;
  border-radius: 0 0 10px 10px;
}

li {
  width: 25%;
  float: left;
  text-align: center;
  font-size: 13px;
  display: grid;
  font-weight: bold;
  cursor: pointer;
  color: #989abe;
  list-style-type: none;
}
img {
  display: block;
  margin: 0 auto 5px auto;
}

.active {
  font-weight: bold;
  color: white;
}
